[Unit]
Description=ADP Wideband Imager Server - Tuning 1
After=network-online.target
Wants=network-online.target

[Service]
# Run as the specified user
User=jdowell

# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Run before process
ExecStartPre=/bin/bash -c '[ -d /data/orville_two/log ] || mkdir -p /data/orville_two/log'

# Setup the environment
Environment=BIFROST_INCLUDE_PATH=/home/jdowell/orville3/bifrost/src/bifrost
Environment=LD_LIBRARY_PATH=/usr/local/cuda/lib64:/home/jdowell/orville3/bifrost/lib:$LD_LIBRARY_PATH
Environment=PYTHONPATH=/home/jdowell/orville3/bifrost/python:$PYTHONPATH

#Environment=LD_PRELOAD=libvma.so
Environment=VMA_TRACELEVEL=0
Environment=VMA_RX_POLL=1000
Environment=VMA_INTERNAL_THREAD_AFFINITY=0
Environment=VMA_RX_PREFETCH_BYTES=128
Environment=VMA_THREAD_MODE=0
Environment=VMA_MTU=9000 

ExecStart=/bin/bash -ec '\
numactl --cpunodebind=1 --membind=1 -- \
python3 /home/jdowell/orville3/orville_imager.py \
	 --port 11001 \
	 --cores 8,9,10,11,12,13 --gpu 1 \
	 --logfile    /data/orville_two/log/wideband-imager.log \
	 --output-dir /data/orville_two'

[Install]
WantedBy=multi-user.target
